<%- include('../includes/head.ejs') %>
</head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <div class="card__item-list">
                <% products.forEach(p => { %>
                    
                        <div class="card__item">
                        
                        <h1><%= p.productId.title %></h1>
                        <p><h3>Quantity: <%= p.quantity %> </h3></p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                        </div>
                  
                <% }) %>
            </div>
            <hr>
            <div class="centered">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form></div>
        <% } else { %>
            <h1> No Products in Cart</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>