<%- include('../includes/head.ejs') %>
</head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0) { %>
            <h1>Nothing Here</h1>
        <% } else { %>
            <ul class="orders">
                <% orders.forEach(order => { %>
                <li class="orders__item">
                    <h2>Order-# <%= order._id %> - <a href="/orders/<%= order._id %>">Invoice</a></h2>
                    <div>
                        <% order.products.forEach(product => { %>
                            <div class="orders__products">
                                <%= product.product.title %> (<%= product.quantity %>) 
                            </div>
                        <% }); %>
                        </div>

                </li>
                <% }); %>
            </ul>
            <% } %>
    </main>
    <%- include('../includes/end.ejs') %>